.App {
  text-align: center;
 font-family: monospace;}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-Header
{
    border: 1px solid #cdcdcd;
    padding: 30px;
}

.headline {
    text-align: left;
    padding-left: 160px;
}

.container{
    margin:auto 0px;
    padding: 150px 0px 140px 0px;
    font-family: "Times New Roman", Times, serif;
}

p{
        font-size: 35px;
    padding: 0px;
    margin: 0px;
    
    color: #71716d;
    font-family: monospace;
}

.modelHeading
{
        text-align: center;
    font-family: monospace;
    font-size: 25px;
    color: #71716d;
    margin-top: 0px;
}
.textField {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
    margin-bottom: 12px;
    color:#8e8e88;
    font-family: monospace;
}

input::placeholder {
  color: #cdcdcd;
}

/* Message */

.errorMsg{
    color:red;
    font-size:11px;
    font-family: monospace;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.fade.in {
    opacity: 1;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
#displayMsg
{
    text-align: center;
    color:darkred;
    font-size:16px;
    font-family: monospace;
    margin-top:20px;
    
}

.linebelow
{
    text-align: center;
    margin: 0px auto;
    width: 50px;
    display: block;
    border-top: 3px solid #000;
    margin-top: 10px;
    margin-bottom: 40px;
}
.button {
    background-color: #ffffff;
    border: 1px solid #d8d8d3;
    color: #8e8e88;
    border-radius: 2px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
}

.modelButton {
    width:100%;
    background-color: #ffffff;
    border: 1px solid #d8d8d3;
    color: #8e8e88;
    border-radius: 2px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
}
.mainHead
{
    width:380px;
    margin:0px auto;
}
.subHead
{
    padding-left: 20px;
    display:block;
}
.container small{
  color: #71716d;
    margin-bottom: 15px;
    margin-top: 25px;
    display: block;
    font-family: monospace;
    font-size: 13px;
}

.copyRight
{
        border-top: 1px solid #cdcdcd;
    padding: 10px 0;
    margin: 15px 0;
    text-align: center;
    font-size: 14px;
}

